<div class="container-fluid" style="min-height: 85vh;">
    <div class="row p-3">
        <ng-container *ngFor="let pet of pets; index as i">
            <div class="col-md-4" *ngIf="pet.type == 'cat'">
                <img src="{{pet.main_image}}" routerLink="/animal/{{pet.id}}" class="w-100 rounded" alt="img{{pet.name}}" height="150" style="object-fit: cover;">
                <h5 class="text-center mt-2">{{pet.name}}</h5>
                <button class="btn btn-outline-danger" (click)="delete(i, pet.id!)">Eliminar</button>
                <button class="btn btn-outline-primary" routerLink="/modifyPet/{{pet.id}}">Editar</button>
            </div>
        </ng-container>
    </div>
</div>