<div class="container-fluid" style="min-height: 85vh;">
    <div class="row p-3">
        <ng-container *ngFor="let pet of pets; index as i">
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center" *ngIf="pet.type == 'dog'">
                <img src="{{pet.main_image}}" class="w-100" alt="img{{pet.name}}" routerLink="/animal/{{pet.id}}" height="150" style="object-fit: cover;">
                <h5 class="text-center mt-2">{{pet.name}}</h5>
                <div class="row">
                    <button class="btn btn-outline-success" *ngIf="isUserLogged" routerLink="/timetable/{{pet.id}}">Cuidar</button>
                    <button class="btn btn-outline-danger my-2" (click)="delete(i, pet.id!)" *ngIf="checkUserIsAdmin()">Eliminar</button>
                    <button class="btn btn-outline-primary" routerLink="/modifyPet/{{pet.id}}" *ngIf="checkUserIsAdmin()">Editar</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>